Modelo Nomina/*                    
Modelo Nomina.zip                
org.xtext.dsl.restaurante/*
org.xtext.dsl.restaurante.sdk/*    
org.xtext.dsl.restaurante.tests/*  
org.xtext.dsl.restaurante.ui/*     
RemoteSystemsTempFiles/*
