<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/guioas/GuiOas"
			class = "org.xtext.example.guioas.guiOas.GuiOasPackage"
			genModel = "model/generated/GuiOas.genmodel" />
	</extension>
</plugin>
